---
layout: workshop
root: .
venue: "Lärosal U"
address: "Ulls Hus"
country: "Ultuna Campus"
language: "en"
latlng: "59.815062,17.658827"
humandate: "December 14, 2017"
humantime: "9:00 - 16:00"
startdate: 2017-12-14
enddate: 2017-12-14
instructor: ["The VMF PhD council"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Hadrien Gourlé"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "hadrien.gourle@slu.se"
day1_am: "Introduction to R"
day1_pm: "Data analysis and visualization in R"
---


<h2>General Information</h2>

<p>
    The VMF PhD student council is proud to present its annual <strong>PhD day!</strong>
    This year the day will be dedicated to the R programming language. The
    workshop is for any PhD student at SLU who has data they want to analyse,
    and no prior computational experience is required.
    This hands-on workshop teaches basic concepts, skills and tools for working more
    effectively with data.
</p>
<p>
    We will cover {{page.day1_am}} and {{page.day1_pm}}.
    Participants should bring their laptops and plan to participate actively.
    By the end of the workshop learners should be able to more effectively
    manage and analyze data and be able to apply the tools and approaches
    directly to their ongoing research.
</p>

<p>
  <strong>Who:</strong>
  The course is aimed at graduate students of SLU.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p>
    <strong>Requirements:</strong> Participants must bring a laptop with a
    Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) that
    they have administrative privileges on. They should have a few specific
    software packages installed (listed <a href="#setup">below</a>). They are
    also required to abide by a
    <a href="{{site.dc_site}}/code-of-conduct/">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>


<h2>Preliminary Schedule</h2>

<div class="row">
  <div class="col-md-6">

    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day1_am}}</td> </tr>
      <tr> <td>Afternoon</td>  <td>{{page.day1_pm}}</td> </tr>
    </table>
 </div>
</div>


<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/06-R.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>


<h2 id="setup">Setup</h2>

<p>
To participate in a Data Carpentry workshop, you will need working copies of the
described software. Please make sure to install everything (or at least to download
the installers) before the start of your workshop. Participants should bring and use
their own laptops to insure the proper setup of tools for an efficient workflow
once you leave the workshop.
<p>
Please follow these <a href=install.html>Setup Instructions</a>.
