<h3 id="mac">Mac</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.

<div class="row-fluid">
<ol>
<li><b>R</b>
<br>In the workshop, we will use RStudio. RStudio is a nice interface to the
programming language R. To use RStudio, you need to install both R and RStudio.
<ul>
<li>Go to <a href=http://cran.r-project.org>CRAN</a> and click on <i>Download
R for (Mac) OS X</i>
<li>Select the .pkg file for the version of OS X that you have and the file
will download.
<li>Double click on the file that was downloaded and R will install
<li>Go to the <a href="http://www.rstudio.com/ide/download/desktop">RStudio Download page</a>
<li>Under <i>Installers</i> select <b>RStudio <em>x.yy.zzz</em> - Mac OS X 10.6+ (64-bit)</b> to download it.
<li>Once it's downloaded, double click the file to install it
<li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
</ul>
</ol>

</div>
